<header>
	<div class="content">
		<div class="logo">
			<a href="/">
				<img src="./assets/icons/logo-header.svg" alt="Logo" />
				<span class="logo__text">CONQUEST</span>
			</a>
		</div>
		<nav class="nav">
			<ul class="list">
				<li class="list__item"><a href="#">Каталог</a></li>
				<li class="list__item"><a href="#">Акции</a></li>
				<li class="list__item"><a href="#">Доставка</a></li>
				<li class="list__item"><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="tools">
			<ul class="list">
				<li class="list__search item">
					<input type="text" placeholder="Поиск" />
					<button>@@include('./Tools/search-icon.html')</button>
				</li>
				<li class="list__favorite item">
					<a href="#">@@include('./Tools/favorite-icon.html')</a>
				</li>
				<li class="list__cart item">
					<button>@@include('./Tools/cart-icon.html')</button>
				</li>
			</ul>
		</div>
	</div>
</header>
